
@{
    ViewBag.Title = "GioHang";
}

<!DOCTYPE html>

<html>
<head>
    <title> GIỎ HÀNG </title>
    <meta charset="utf-8">
    <style>
        div#Yellow {
            width: 30px;
            height: 30px;
            background: yellow;
            position: fixed;
            margin-top: 200px;
            margin-left: 340px;
        }

        div#Black {
            width: 30px;
            height: 30px;
            background: black;
            position:fixed;
            margin-top: 350px;
            margin-left: 340px;
        }

        p2 {
            font-size: 25px;
            margin-left: 180px;
            position: fixed;
            margin-top: 0px;
            font-weight: bold;
            word-spacing: 30px;
        }

        .Logo {
            position: fixed;
            margin-left: -150px;
            margin-top: -40px;
        }

        .Car {
            position: fixed;
            left: 50px;
            top: 480px;
        }

        .box {
            position: fixed;
            margin-left: 700px;
            margin-top: 0px;
        }

        p3 {
            font-size: 30px;
            position: fixed;
            margin-left: 1000px;
            margin-top: -10px;
          
        }

        p4 {
            margin-top: 83px;
            position: fixed;
            margin-left: -150px;
        }

        p5 {
            font-size: 30px;
            font-weight: bold;
            position: fixed;
            margin-top: 100px;
            margin-left: -150px;
        }

        .Dam {
            position: fixed;
            margin-top: 200px;
            margin-left: -110px;
           
        }

        .Quan {
            position: fixed;
            margin-top: 330px;
            margin-left: -110px;
        }

        .Car {
            margin-top: -30px;
            height: 350px;
        }

        p6 {
            font-weight: bold;
            text-justify: auto;
        }

        div#SizeM {
        }

        p7 {
        }

        body {
            overflow: auto;
        }

        p9{
            position:fixed;
            margin-top: 500px;
            margin-left: 250px;
            font-size: 20px;
        }

        p11{
            position:fixed;
            margin-top: 470px;
            margin-left: 850px;
            font-size: 20px;
        }   

    </style>
    <script src="https://kit.fontawesome.com/17bf7969e2.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Hình ảnh HTML -->
    <p>

        <img class="Logo" class="Lucci" src="~/Content/Logo.jpg" height="100px" width="200px" />
        <img class="Dam" src="~/Content/Dam.jpg"  height="120"/>
        <img class="Quan" src="~/Content/Quan.jpg" height="120" />
        <img class="Car" src="~/Content/Car.png" height="400px" " />
    </p>
    <p2>
        <i>Woman</i>
        <i1>Men</i1>
        <i2>Introduce</i2>
        <i3>Contact</i3>
    </p2>

    <!-- Tìm kiếm -->
    <div class="box">
        <div class="Search-1">
            <input type="search" id="search" placeholder="Tìm kếm..." style="width:300px; height: 30px; " />
        </div>
    </div>

    <!-- icon -->
    <p3>
        <i class="fa fa-search"></i>
        <i class="fa fa-user"></i>
        <i class="fa fa-shopping-basket"></i>
    </p3>

    <!-- Miễn phí vận chuyển -->
    <button name="Freeship" type="button" style="width:1520px; position:fixed; margin-top: 55px; margin-left: -190px; ">Miễn phí vận chuyển</button>

    <!-- Trang chủ/Giỏ hàng-->
    <p4>
        <i>Trang chủ /</i>
        <i2 style="color:red;">Giỏ hàng</i2>
    </p4>

    <p5>Giỏ hàng</p5>

    <p6>
        <i style="position:fixed; margin-top: 150px; margin-left: -100px;">HÌNH ẢNH</i>
        <i2 style="position:fixed; margin-top: 150px; margin-left: 120px;">SẢN PHẨM</i2>
        <i3 style="position:fixed; margin-top: 150px; margin-left: 320px;">MÀU SẮC</i3>
        <i4 style="position:fixed; margin-top: 150px; margin-left: 520px;">KÍCH CỠ</i4>
        <i5 style="position:fixed; margin-top: 150px; margin-left: 720px;">SỐ LƯỢNG</i5>
        <i6 style="position:fixed; margin-top: 150px; margin-left: 920px;">GÍA</i6>
        <i7 style="position:fixed; margin-top: 150px; margin-left: 1120px;">TỔNG TIỀN</i7>
    </p6>

    <p7>
        <i style="position:fixed; margin-left: 120px; margin-top: 200px;">Váy liền nữ</i>
        <div id="Yellow"></div>
        <i2 style=" position:fixed; margin-left: 545px; margin-top: 200px; ">M</i2>
        <i3 style=" position:fixed; margin-left: 750px; margin-top: 200px;">1</i3>
        <i4 style=" position:fixed; margin-left: 910px; margin-top: 200px; ">299.000đ</i4>
        <i5 style=" position:fixed; margin-left: 1130px; margin-top: 200px;">299.000đ</i5>
        <i6 style=" position:fixed; margin-left: 1250px; margin-top: 200px; font-weight: bold; ">Xóa</i6>
    </p7>

    <p8>
        <i style="position:fixed; margin-left: 120px; margin-top: 350px;">Quần nỉ nữ</i>
        <div id="Black"></div>
        <i2 style="position:fixed; margin-left: 545px; margin-top: 350px;">S</i2>
        <i3 style=" position:fixed; margin-left: 750px; margin-top: 350px;">1</i3>
        <i3 style="position:fixed; margin-left: 910px; margin-top: 350px;">299.000đ</i3>
        <i4 style=" position:fixed; margin-left: 1130px; margin-top: 350px;">299.000đ</i4>
        <i5 style="position:fixed; margin-left: 1250px; margin-top: 350px; font-weight: bold;">Xóa</i5>
    </p8>

    <p9>
        <p1 style="font-weight: bold; font-size: 30px;">HÌNH THỨC THANH TOÁN</p1>
        <br>Thanh toán khi nhận hàng ( COD )</br>
    </p9>
    <!--Tiếp tục mua hàng-->
    <p10>
        <button name="Continue" type="button" style="position:fixed; margin-top: 680px; margin-left: -120px; width: 300px;">Tiếp tục mua hàng</button>
    </p10>

    <p11>
        <br> Số lượng: &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;              2</br>
        <br>Thành tiền: &emsp;&emsp;&emsp;      598.000đ</br>
        <br>Ngày hết hạn: &emsp;  12/12/2020</br>
        <br class="DatHang"><button name="Dathang" type="button" >ĐẶT HÀNG</button></br>
    </p11>

</body>
</html>




